<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">DIVCO</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="usuarios" class="nav-link">Usuários</a>
      </li>
      <li class="nav-item">
        <a routerLink="cadastrar" class="nav-link">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a routerLink="fila" class="nav-link">Fila Vacinação</a>
      </li>
      <li class="nav-item">
        <a routerLink="relatorio" class="nav-link">Relatorio de Vacinação</a>
      </li>
      <li class="nav-item">
        <a routerLink="bot" class="nav-link">Bot Cleitin</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>