<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Procurar por cpf"
          (ngModel)="cpf"
        />
        <div class="input-group-append">
          <button
            class="btn btn-dark"
            type="button"
            (click)="searchByCpf()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Lista de Usuarios</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let usuario of usuarios; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentUsuario(usuario, i)"
        >
        <strong>Nome:</strong> {{usuario.nome}} {{usuario.sobrenome}} <br>
        <strong>CPF:</strong> {{usuario.cpf}}<br> 
        <strong>data de Nascimento</strong> {{usuario.dataNascimento}}
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <div *ngIf="currentUsuario">
        <h4>Usuario</h4>
        <div>
          <label><strong>Id: </strong>{{currentUsuario.id}} </label> 
        </div>

        <div>
          <label><strong>Nome: </strong>{{currentUsuario.nome}} {{currentUsuario.sobrenome}}</label>  
        </div>

        <div>
          <label><strong>E-mail: </strong> {{currentUsuario.email}}</label>
        </div>

        <div>
            <label><strong>Data de Nascimento: </strong>{{currentUsuario.dataNascimento}} </label> 
        </div>

         <div>
            <label><strong>CPF: </strong>{{currentUsuario.cpf}} </label> 
        </div>

        <div>
            <label><strong>Tipo de Usuario: </strong>{{currentUsuario.tipoUsuario}} </label> 
        </div>

        <div>
            <label><strong>Profissional da Saude: </strong>{{currentUsuario.profSaude}} </label> 
        </div>

        <div>
            <label><strong>CEP: </strong>{{currentUsuario.endereco}} </label> 
        </div>

        <div>
            <label><strong>Data de Vacinacao: </strong>{{currentUsuario.dataVacinacao}} </label> 
        </div>
        <p>
            <a class="badge badge-warning" routerLink="/usuarios/{{currentUsuario.id}}">
            Editar
            </a>  
        </p>
      </div>
  
      <div *ngIf="!currentUsuario">
        <br />
        <p>Por favor clique em um usuario</p>
      </div>
    </div>
  </div>
  